/* Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

address {
  font-style: normal;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.btn {
  font-family: inherit;
  line-height: inherit;
  cursor: pointer;
  padding: 0;
}

.loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  /* position: relative; */
  position: absolute;
  top: 50%;
  right: 50%;

  animation: rotate 1s linear infinite;
}
.loader::before,
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #1b1b1b;
  animation: prixClipFix 2s linear infinite;
}
.loader::after {
  border-color: #ff3d00;
  animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
  inset: 6px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
body {
  background-color: hsl(0, 0%, 81%);
  font-family: 'Roboto', sans-serif;
}

.cat-info {
  width: 40%;
  min-width: 500px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  gap: 20px;
}

.img-container {
  max-width: 40%;
  min-width: 40%;
}

.img {
}

.cat-caption {
}

.cat-name {
  font-family: 'Raleway', sans-serif;
  margin-bottom: 20px;
}

.cat-descr {
  margin-bottom: 20px;
  font-size: 18px;
}

.cat-temp {
}

.cat-accent {
  font-weight: 700;
}
.js-hide {
  display: none !important;
}

/**
  |============================
  | 
  |============================
*/

.ss-main {
  width: 40%;
  min-width: 500px;
  margin: 20px auto;
}
